/**** General ****/
//$font-family: 'Roboto', sans-serif;
$logo-font: 'MoonHouse';

$top-navbar-height: 46px;

$sidebar-width: 250px;
$sidebar-mini-width: 40px;

$horizontal-menu-height: 38px;
$horizontal-mini-menu-height: 46px;

$chat-person-search-media-height: 32px;
$chat-window-header-height: 30px;
$chat-window-footer-height: 46px;

$footer-height: 30px;
$footer-button-height: 60px;

$white: #fff;
$black: #000;
$light-black: #1c2833;
$dark-grey: #979797;
$light-grey: #e1e1e1;
$app-primary: #5ba729;
$app-secondary: #403106;
$gray-brdr: #acb2b9;
$srch-btn-bg: #9d9d9d;
$btn-info-bg: #008ddd;
$btn-primary-bg: #0063ea;
$btn-success-bg: #68bd45;
$btn-gray-bg: #808b96;
$btn-danger-bg: #f34235;
$hdr-brdr: #ededed;
$tbl-hdr-clr: #ababab;
$gray-btm-btn-bg: #acb2b9;
$popup-hdr-clr: #737373;
$cmn-link-clr: #1c2833;
$sitemap-bg: #eaeced;
$font26: #262626;
$f5-bg: #f5f5f5;
$f7-bg: #f7f7f7;
$f3-bg: #f3f3f3;
$dark71-color: #717171;
$light-red: #ffd3d5;
$dark-green: #007107;
$light-green: #beffc2;
$dark-grey-100: #999999;
$required-bg: #d24271;

$top-navbar-bg-color: #fff;
$top-navbar-text-color: #a6a6a6;
$logo-color: #000;
$logo-ng-color: #5ba729;
$logo-ng-color-100: #002c6c;
$logo-ng-color-200: #d4f5c6;
$logo-ng-color-300: #f2f9ef;
$light-grey-100: #e5e5e5;

$main-bg-color: #f5f5f5;
$main-text-color: #565656;

$info-content-bg-color: #262626;
$info-content-icon-color: #fff;

$messages-ddl-link-active-border-color: #ccc;

$side-chat-item-color: #979797;
$side-chat-item-bg-color: #262626;
$side-chat-item-bottom-border-color: #f5f5f5;

$sidebar-bg-color: #262626;
$active-link-bg-color: #5ba729; //#333333;
$sidebar-item-color: #979797;
$sidebar-item-hover-color: #fff;
$sidebar-item-hover-bg-color: #171717;
$sidebar-item-bottom-border-color: #171717;
$sidebar-item-bottom-border-shadow-color: #fff;
$sidebar-subitem-bg-color: #000;

$mini-sidebar-tooltip-color: #fff;
$mini-sidebar-tooltip-bg-color: $sidebar-bg-color;
$mini-sidebar-tooltip-arrow-color: $sidebar-bg-color;

$mini-horizontal-menu-tooltip-color: #fff;
$mini-horizontal-menu-tooltip-bg-color: #000;
$mini-horizontal-menu-tooltip-arrow-color: #000;

$footer-bg-color: #171717;

$box-shadow-color: $sidebar-bg-color;

$card-header-color: #f2f2f2;
$card-header-bg-color: #f3f3f3;

$login-window-bg-color: #262626;
$login-header-bg-color: #5ba729;
$login-text-color: #efefef;

$widget-controls-color: #a6a6a6;

$form-control-focus-border-color: #262626;

$primary-color: $app-primary;
$dark-primary-color: #3e9404;
$success-color: #4bae4f;
$dark-success-color: #378d3b;
$info-color: #00bbd3;
$dark-info-color: #0096a6;
$warning-color: #fe9700;
$dark-warning-color: #f47b00;
$danger-color: #f34235;
$dark-danger-color: #d22e2e;
$gray-color: #9d9d9d;
$dark-gray-color: #606060;
$dark-gray-color-100: #777777;
$inverse-color: #292b2c;
$dark-inverse-color: #1c1e1f;

$breadcrumb-color: #3e50b4;
